#container__formulario {
  width: 99vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.contacto__titulo {
  position: absolute;
  z-index: 1;
  width: 2.5vw;
  margin-left: 1.5vw;
  flex-wrap: wrap;
  line-height: 25.5vh;
  opacity: 0.5;
}

.titulo__cabecera__texto {
  display: flex;
}

#canvas__formulario{
  z-index: 0;
  width:  calc(100vw - 9.7vw ) ;
  height: calc(100vh - 22vh);
  position: relative;
  margin: 4.5vh 0;
  background: var(--background-canvas);
  border-radius: 15px;
}

.formulario__contacto{
  position: absolute;
  z-index: 2;
  width: 20vw;
  height: 59vh;
  margin: -76vh 4vw 0 55vw;
  padding: 3vh 2vw 2vh 2vw;
  border: 1px solid var(--color-ceniza);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: var(--background-formulario)
}

.titulo__formulario{
  font-family: var(--meddon);
  color: var(--color-general);
  font-size: 3rem;
  margin-bottom: 2vh;
}

.p__formulario{
  font-family: var(--lato);
  font-size:1.2rem;
  color: var(--color-ceniza);
  line-height: 2.8vh;
  margin-bottom: 1.5vh;
}

.estilos__elementos__formularios{
  margin-top: 1.5vh;
  border-radius: 5px;
  background: var(--background-input);
  font-size:1rem;
  color: var(--color-ceniza)
}

.estilos__elementos__formularios::placeholder{
  color: var(--color-ceniza)
}

.textarea__formulario{
  height: 15vh;

}

.boton__formulario{
  width: 8rem;
  height: 2rem;
  background: var(--color-general)
}


.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

 .input-container--invalid {
  margin-bottom: 0.5rem;
  font-family: var(--lato);
}

.input-container--invalid .estilos__elementos__formularios {
  border: 1px solid var(--color-warning);
  border-radius: 7px;
}

.input-message-error {
  display: none;
}

.input-container--invalid .input-message-error {
  color: var(--color-warning);
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
