#container__fomracion{
    border: 1px solid black;
    width: 99vw;
    height: 97vh;
}
.formacion__titulo{
    margin: -17vh 0 0 30vw;
position: absolute;
z-index: 0;
}

#canvas__formacion{
    border: 1px solid #000000;
    z-index: 1;
    position: relative;
    margin: 42vh 0 0 0.5vw;
    background: var(--background-canvas);
    border-radius: 15px;
}