@media all and (min-width: 768px) and (max-width: 1024px) {
  /* style */
  .section__titulo__cabecera {
    font-size: 4.5rem;
  }
  /* header */
  header {
    width: 100vw;
    height: 100vh;
  }

  #menu {
    left: 0;
    position: fixed;
    width: 100vw;
    height: 12vh;
    flex-direction: row;
  }

  .btn__back {
    margin-bottom: 1rem;
  }

  #container__nombre {
    margin: 2vh 0.5vw;
  }

  #container__redes {
    width: 20vw;
    margin: 1vh 0.5vw;
    flex-direction: row;
    justify-content: space-around;
  }

  .letra__accion,
  .letra__accion2,
  #span__nombre {
    font-size: 3rem;
    line-height: 0.5 vh;
  }

  #div__scroll__down {
    left: 47vw;
  }

  .contenedor__menu {
    width: 100vw;
    height: calc(100vh - 12vh);
    margin-top: 12vh;
    grid-template-rows: 33.33% 33.3% 33.3%;
  }

  .btn3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .btn4 {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .btn5 {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background: var(--background-menu-desplegado5);
  }
  /* main - Sobre mi */

  #container__sobre-mi {
    width: 100vw;
    height: 120vh;
  }

  .sobre-mi__titulo {
    width: 100%;
    margin: 3vh auto 2vh 25vw;
    top: 0;
    left: 0;
  }

  #container__imagen__sobre-mi {
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
  }

  #imagen__sobre__mi {
    display: flex;
    width: 100%;
    height: 100%;
  }

  #sobre-mi__p__principal {
    width: 80vw;
    top: 0;
    left: 0;
    margin: 5.5vh auto;
    font-size: 1.5em;
    line-height: 2.5rem;
  }

  #span_nombre2{
    font-size: 6em;
  }

  #sobre-mi__p__biografia {
    margin: 2.5vh auto;
    top: 0;
    left: 0;
    width: 80vw;
    font-size: 1.2em;
    line-height: 2.5rem;
  }

  /* main - Soft Skillls y Hobbies */
  #container__softskills {
    width: 100vw;
    margin-top: 1vh;
    height: 84vh;
  }
  
  .container__skills__hobbie {
    font-family: var(--lato);
    font-size: 2.5rem;
  }

  .softSkills__titulo {
    width: 100%;
    margin: 3vh auto 2vh 18vw;
  }
  
  .grid__skills,
  .grid__hobbie {
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 44% 44%;
    width: 94%;
    margin: 0 auto;
    border-radius: 20px;
  }    
  
  .grid__hobbie {
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11%;
    grid-template-rows: 90%;
    width: 80%;
    margin: 0 auto;
    gap: 1.5rem;
  }
  
/* main - Formación */
#container__formacion {
    width: 90vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .formacion__titulo {
    margin: 3vh 0 0 0;
  }
  
  .contenedor__titulos {
    width: 100vw;
    margin: 5.5vh auto;
    padding: 0.1rem;
  }
  
  .grid__formacion {
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 27% 27% 27% 27% 27% 27% 27%;
    width: 100%;
    height: 100%;
    position: relative;
    gap: 0.6rem;
  }

  .titulo3__formacion {
      grid-column: 1 / 2;
    grid-row: 6 / 7;
    
  }
  
  .titulo4__formacion {
      grid-column: 2 / 3;
    grid-row: 6/ 7;
    
  }
  
  .titulo7__formacion {
    grid-column: 3 / 4;
  grid-row: 6 / 7;
  
  }
  
  .titulo10__formacion {
    grid-column: 4 / 5;
  grid-row: 6 / 7;
  
  }
 
  .titulo15__formacion {
    grid-column: 1 / 2;
  grid-row: 7 / 8;
  
  }

  .titulo__formacion:hover{
    transform: translateX(12vw)
  }

  .titulo1__formacion:hover{
    transform: translateX(-36vw)
  }

  .titulo3__formacion:hover, .titulo11__formacion:hover, .titulo15__formacion:hover{
    transform: translateX(36vw)
  }

  .titulo6__formacion:hover, .titulo9__formacion:hover, .titulo10__formacion:hover, .titulo14__formacion:hover{
    transform: translateX(-35vw)
  }
 
  /* main - Proyectos */
  #container__proyectos {
    width: 100vw;
    height: 180vh;
  }
  
  .proyectos__titulo {
    margin: 2vh 0 0 18vw;
    width: 100vw;
  }
  
  .container__card {
    width: 100vw;
    margin: 0 auto;
    perspective: 2000px;
    display: block;
  }
  
  .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin: 2vh auto 16vh auto;
    flex-wrap: wrap;
  }
  
  .card__father {
    perspective: 2000px;
    margin: 2vh 0 16vh 2.5vw;
    width: 80%;
  }
  
  .card__father:hover .card {
    transform: rotateY(180deg);
  }
  
  .card {
    width: 80vw;
    height: 32vh;
    margin: 0 0 0 3vw;
  }
  
  
  .container__btn__card__back {
    display: flex;
    margin-top: 2.5vh;
  }

  /* main - Formulario */
  
  #container__formulario {
    width: 100vw;
    height: 155vh;
    display: flex;
    justify-content: space-between;
  }
  
  .contacto__titulo {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
  }
  
  .titulo__cabecera__texto {
    display: flex;
  }
  
  #canvas__formulario{
    z-index: 0;
    width:  100vw;
    height: 80vw;
    position: relative;
    margin: 4.5vh 0;
    background: var(--background-canvas);
    border-radius: 15px;
  }
  
  .formulario__contacto{
    width: 50vw;
    height: 60vh;
    margin: 0 23vw;
    padding: 3vh 2vw 2vh 2vw;
    text-align: center;
    align-items: center;
  }
  
  .titulo__formulario{
    font-size: 2.8rem;
  }
  
  .p__formulario{
    font-family: var(--lato);
    font-size:1rem;
    color: var(--color-ceniza);
    line-height: 2.8vh;
    margin-bottom: 1.5vh;
  }
  
  .estilos__elementos__formularios{
    margin-top: 1.5vh;
    width: 100%;
    border-radius: 5px;
    font-size:1rem;
  }

  .boton__formulario{
    width: 40%;
  }

  /* footer */

  footer{
    width: 100vw;
    height: 17vh;
    margin-top: 2vh;
    flex-wrap: wrap;
  }
  
  #footer__span__nombre{
    font-size: 1.9rem;
  }
  
  #footer__central{
    width: 60vw;
    order: 4;
  }
  
  #footer__central__texto{
    line-height: 1.2rem;
  }
  
  .footer__titulo__secundario{
    font-size: 1.3rem;
  }

  #footer__links{
    width: 20vw;
  }
  
  .container__mail__curriculum{
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

   .contenedor__curriculum{
    display: flex;
    flex-direction: column;
  align-items: center;
  margin-top: 3vh
   }
  
   .p__curriculum{
    font-family: var(--lato);
    color: var(--color-ceniza);
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
   }
  
}
