#container__softskills {
  width: 89vw;
  height: calc(100vh - 26.5rem);
  margin-top: 5vh;
}

.container__skills__hobbie {
  font-family: var(--lato);
  font-size: 2.5rem;
}

.grid__skills,
.grid__hobbie {
  display: grid;
  grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  grid-template-rows: 80%;
  width: 100%;
  height: 100%;
  background: var(--color-link);
  gap: 0.5rem;
  border-radius: 50px;
  justify-content: center;
  align-content: center;
  transition: all 600ms;
}
    

.titulo {
  font-weight: bold;
  margin: 10vh 0 4vh 42vw;
  color: var(--color-titulo-cabecera);
}

.img-responsive {
  width: 100%;
  height: 100%;
  
}

.cuadro__skill,
.cuadro2__skill,
.cuadro3__skill,
.cuadro4__skill,
.cuadro5__skill,
.cuadro6__skill,
.cuadro7__skill,
.cuadro8__skill,
.cuadro9__skill,
.cuadro10__skill,
.cuadro11__skill,
.cuadro__hobbie,
.cuadro2__hobbie,
.cuadro3__hobbie,
.cuadro4__hobbie,
.cuadro5__hobbie,
.cuadro6__hobbie{
  border: 1px solid #ccc;
  box-shadow: 3px 3px 17px  5px var(--background-spn)
} 
.cuadro__skill:hover,
.cuadro2__skill:hover,
.cuadro3__skill:hover,
.cuadro4__skill:hover,
.cuadro5__skill:hover,
.cuadro6__skill:hover,
.cuadro7__skill:hover,
.cuadro8__skill:hover,
.cuadro9__skill:hover,
.cuadro10__skill:hover,
.cuadro11__skill:hover,
.cuadro__hobbie:hover,
.cuadro2__hobbie:hover,
.cuadro3__hobbie:hover,
.cuadro4__hobbie:hover,
.cuadro5__hobbie:hover,
.cuadro6__hobbie:hover{
  transition: all 600ms;
}

figure{
  display: inline-block;
  position: relative;
}

figcaption{
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-link-transparencia);
  width: 94%;
  padding: 3%;
  height:94%;
  
}

figure:hover figcaption {
  display: flex;
  justify-content:center;
  align-items: flex-end;
  font-family: var(--lato);
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
}

.cuadro2__skill {
  grid-column: 2 / 3;
  grid-row: 1/ 2;
}

.cuadro3__skill {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.cuadro4__skill {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.cuadro5__skill {
  grid-column: 5 /6;
  grid-row: 1 / 2;
}

.cuadro6__skill {
  grid-column: 6 /7;
  grid-row: 1 / 2;
}

.cuadro7__skill {
  grid-column-start: 7 / 8;
  grid-row-start: 1 / 2;
}

.cuadro8__skill {
  grid-column-start: 8 / 9;
  grid-row-start: 1 / 2;
}

.cuadro9__skill {
  grid-column-start: 9 / 10;
  grid-row-start: 1 / 2;
}

.cuadro10__skill {
  grid-column-start: 10 / 11;
  grid-row-start: 1 / 2;
}

.cuadro11__skill {
  grid-column-start: 11 / 12;
  grid-row-start: 1 / 2;
}

.grid__hobbie {
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11%;
  grid-template-rows: 90%;
  width: 50%;
  height: 100%;
  gap: 1.5rem;
  margin-left: 23vw;
}

.border__hobbie{
  border: 1px solid var(--color-ceniza);
}

.cuadro__hobbie {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
}

.cuadro2__hobbie {
  grid-column: 2 / 3;
  grid-row: 1/ 2;
}

.cuadro3__hobbie {
  grid-column: 3 / 4;
  grid-row: 1/ 2;
}

.cuadro4__hobbie {
  grid-column: 4 / 5;
  grid-row: 1/ 2;
}

.cuadro5__hobbie {
  grid-column: 5 / 6;
  grid-row: 1/ 2;
}

.cuadro6__hobbie {
  grid-column: 6 / 7;
  grid-row: 1/ 2;
}
