:root {
  --background-menu: rgb(33, 33, 33);
  --background-spn: rgb(184, 184, 184);
  --background: rgb(45, 44, 44);
  --background-li: rgba(230, 223, 223, 0.514);
  --background-canvas: 
  --background-negro-transparente: rgba(0, 0, 0, 0.4);
  --background-input: rgba(101, 101, 101, 0.812);
  --background-formulario: rgba(75, 74, 74, 0.98);
  --background-menu-desplegado:#021e35f5;
  --background-menu-desplegado2:#032a4af5;
  --background-menu-desplegado3:#112738f5;
  --background-menu-desplegado4:#20374af5;
  --background-menu-desplegado5:#02447af5;
  --background-tarjeta: #58b0f6;

  --btn-sombra-blanca: #ffffff;
  --btn-sombra-oscura: #000000;
  --btn-link-card: #36ca15a4;

  
  --color-general: #2186f9;
  --color-hover: #d44efc;
  --color__bg__fondos: #d44efc;
  --color-hover2: #21f928;
  --color-ceniza: #c8bfbf;
  --color-link: #5286c5;
  --color-link-transparencia: #5286c594;
  --color-black: black;
  --color-titulo-cabecera: #0750a3;
  --color-sombra-btn: #004782;
  --color-btn-link: #c40000a4;
  --color-cuerpo-tarjeta: #449de6;
  --color-warning: #ac0b0b;
  
  --meddon: "Meddon", cursive;
  --freckle:'Freckle Face', cursive;
  --lato: 'Lato', sans-serif;
  --monoton: 'Monoton', cursive;
  --open-sans: 'Open Sans', sans-serif;
}

body{
  background: var(--background)
}

.section__titulo__cabecera{
  position: relative;
  font-family: var(--monoton);
  color: var(--color-titulo-cabecera);
  z-index: 1;
  font-size:6.5rem;
  opacity: 0.2;
  
}

.animado__scroll{
  opacity: 0;
  transition: all 3s;

}

.mostrarContenido{
   animation: mostrarContenido 2.5s;
}

@keyframes mostrarContenido {

  0%{
    transform: translateY(30vh);
  }
  100%{
    transform: translateY(0);
  }
  
}

footer{
  width: calc(100vw - 9vw);
  height: 17vh;
  margin-top: 3vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem;
  font-family: var(--lato);
  position: float;
  z-index: 1;
}

#footer__span__nombre{
  font-size: 2.5rem;
}

#footer__central{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 25vw;
}

#footer__central__texto{
  color: var(--color-ceniza);
  line-height: 1.2rem;
}

#footer__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer__link__a{
  text-decoration: none;
  color: var(--color-ceniza);
  line-height:2.5vh;
  background-image: linear-gradient(var(--color-general), var(--color-general));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

#footer__link__a:hover{
  font-family: var(--freckle);
  color: var(--color-link);
  transform: scale(1.2);
  background-size: 100% 2px;
}

#footer__div__email{
  text-align: center;
}

.footer__titulo__secundario{
  font-family: var(--meddon);
  font-size: 1.6rem;
}

.a__footer__mail{
  text-decoration: none;
}

.container__mail__curriculum{
 display: flex;
 flex-direction: column;
 align-items:center;
}

.footer__email {
  margin-top: 0.5rem;
  color: var(--color-ceniza);
  font-size: 1rem;
  background-image: linear-gradient(var(--color-general), var(--color-general));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.footer__email:hover{
  background-size: 52% 2px;
 }

 .contenedor__curriculum{
  display: flex;
  flex-direction: column;
align-items: center;
margin-top: 3vh
 }

 .p__curriculum{
  font-family: var(--lato);
  color: var(--color-ceniza);
  font-size: 1rem;
  margin-top:1vh;
 }