:root {
  --background-menu: rgb(33, 33, 33);
  --background-spn: rgb(0, 0, 0);
  --background: rgb(45, 44, 44);
  --background-li: rgba(230, 223, 223, 0.514);

  --color-general: #2186f9;
  --color-hover: #d44efc;
  --color-hover2: #21f928;
  --color-ceniza: #c8bfbf;
  --color-link: #5286c5;
  --color-titulo-cabecera: #002146;

  --meddon: "Meddon", cursive;
  --freckle:'Freckle Face', cursive;
  --lato: 'Lato', sans-serif;
  --monoton: 'Monoton', cursive;
  --open-sans: 'Open Sans', sans-serif;
}

body{
  background: var(--background)
}

.section__titulo__cabecera{
  position: relative;
  font-family: var(--monoton);
  color: var(--color-titulo-cabecera);
  z-index: 1;
  font-size:9.5rem;
  opacity: 0.2;
  
}

footer{
  border: 1px solid black;
  width: 92vw;
  height: 17vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem;
  font-family: var(--lato);
}

#footer__span__nombre{
  font-size: 2.5rem;
}

#footer__central{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  width: 25vw;
}

#footer__central__texto{
  color: var(--color-ceniza);
  line-height: 1.2rem;
}

#footer__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer__link__a{
  text-decoration: none;
  color: var(--color-ceniza);
  line-height:2.5vh;
  background-image: linear-gradient(var(--color-general), var(--color-general));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

#footer__link__a:hover{
  font-family: var(--freckle);
  color: var(--color-link);
  transform: scale(1.2);
  background-size: 100% 2px;
}

#footer__div__email{
  text-align: center;
}

.footer__titulo__secundario{
  font-family: var(--meddon);
  font-size: 1.6rem;
}

.a__footer__mail{
  text-decoration: none;
  
}



.footer__email {
  margin-top: 0.5rem;
  color: var(--color-ceniza);
  font-size: 1rem;
  background-image: linear-gradient(var(--color-general), var(--color-general));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

.footer__email:hover{
  background-size: 100% 2px;
 }